.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.tittle { 
  color: #F01843;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18pt;
}

.level1 h1 {
  border-bottom: 1px solid;
}

h1 { 
  color: black;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16pt;
  font-style: italic;
}

h2 { 
  color: black;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
  text-decoration: underline;
}

h3 { 
  color: black;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  text-decoration: underline;
  }
